In [38]:
import pandas as pd
file1 = pd.read_csv('Hotel_Reviews.csv')

In [39]:
file1

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       4
1      ok nothing special charge diamond member hilto...       2
2      nice rooms not 4* experience hotel monaco seat...       3
3      unique, great stay, wonderful time hotel monac...       5
4      great stay great stay, went seahawk game aweso...       5
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

[20491 rows x 2 columns]

In [40]:
type(file1['Rating'])

pandas.core.series.Series

In [41]:
a = file1['Rating']

In [42]:
a

0        4
1        2
2        3
3        5
4        5
        ..
20486    5
20487    4
20488    2
20489    1
20490    2
Name: Rating, Length: 20491, dtype: int64

In [61]:
b =a.tolist()

In [62]:
len(b)

20491

In [63]:
result = map(lambda x:x, b)

In [64]:
result

In [65]:
result = list(result)

In [66]:
from collections import Counter
# count the occurrences of each element
counts = Counter(result)

In [67]:
counts

Counter({4: 6039, 2: 1793, 3: 2184, 5: 9054, 1: 1421})

In [68]:
sorted_keys = sorted(counts)
sorted_keys

[1, 2, 3, 4, 5]

In [69]:
for key in sorted_keys:
    print(f"{key}: {counts[key]}")

1: 1421
2: 1793
3: 2184
4: 6039
5: 9054

## Using Reduce

In [70]:
from functools import reduce
# count the occurrences of each element
counts = reduce(lambda d, x: {**d, x: d.get(x, 0) + 1}, b, {})
counts

{4: 6039, 2: 1793, 3: 2184, 5: 9054, 1: 1421}

In [71]:
sorted_dict = sorted(counts)
sorted_dict

[1, 2, 3, 4, 5]

In [72]:

# print the count of each element
for element in sorted_dict:
    print(f"{element}: {counts[element]}")

1: 1421
2: 1793
3: 2184
4: 6039
5: 9054