In [1]:
## SETS
## A set is a unordered collection data type that is iterable, mutable, and has no duplicate elements.
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
set_var={1,2,3,4,5}

In [3]:
print(set_var)

{1, 2, 3, 4, 5}

In [4]:
## duplicate values will be removed
set_var={1,2,3,4,2,5,5,6}
print(set_var)

{1, 2, 3, 4, 5, 6}

In [5]:
set_var={"Avengers", "IronMan", "Hitman"}
print(set_var)
type(set_var)

{'IronMan', 'Avengers', 'Hitman'}

set

In [6]:
## inbuilt function in sets
set_var.add("Hulk")
print(set_var)

{'IronMan', 'Avengers', 'Hulk', 'Hitman'}

In [ ]:
set_var.intersection_update

In [16]:
set1={"Avengers", "IronMan", "Hitman"}
set2={"Avengers", "IronMan", "Hitman","Hulk2"}

In [17]:
set2.difference(set1)

{'Hulk2'}

In [18]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [12]:
##Difference
set2.intersection_update(set1)

In [13]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [10]:
## Difference
set2.difference(set1)

set()

In [19]:
set

set

DICTIONARY

In [20]:
my_dict={"car1":"Audi","car2":"BMW", "car3":"Tesla"}

In [21]:
type(my_dict)

dict

In [22]:
my_dict['car1']

'Audi'

In [23]:
for x in my_dict:
    print(x)

car1
car2
car3

In [24]:
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Tesla')

In [25]:
for x in my_dict.keys():
    print(x)

car1
car2
car3

In [26]:
for x in my_dict.values():
    print(x)

Audi
BMW
Tesla

In [27]:
## adding items in Dictionaries
my_dict['car4']='Audi 2.0'

In [28]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Tesla', 'car4': 'Audi 2.0'}

In [29]:
## updating values of already exiting key
my_dict['car1']='Toyota'

In [30]:
my_dict

{'car1': 'Toyota', 'car2': 'BMW', 'car3': 'Tesla', 'car4': 'Audi 2.0'}

NESTED DICTIONARY

In [32]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1986}
car3_model={'Hona':1980}

In [33]:
car_type={'car1':car1_model, 'car2':car2_model, 'car3':car3_model}

In [34]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1986}, 'car3': {'Hona': 1980}}

In [35]:
print(car_type['car1'])

{'Mercedes': 1960}

TUPLES

In [36]:
## immutable, cant be changed
my_tuple=()

In [37]:
type(my_tuple)

tuple

In [39]:
my_tuple=("Krish", "Ankur", "John")
type(my_tuple)

tuple

In [40]:
my_tuple2=("abc", "def", "ghi")

In [41]:
my_tuple[1]

'Ankur'

In [42]:
my_tuple2[0]

'abc'